.portfolio-container {
    max-width: 700px;
    margin: 40px auto;
    padding: 20px;
    background-color: #f4f5f7;
    border-radius: 16px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  .portforlio-tabs {
    display:flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
  }

  .portfolio-tabs button {
    padding: 10px 20px;
  border-radius: 8px;
  border: 2px solid #91c274;
  background: transparent;
  color: #333;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;

}

.portfolio-tabs button.active,
.portfolio-tabs button:hover {
    background-color: #91c274;
    color: white;
}


  .portfolio-card {
    background: white;
    padding: 30px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.05);
  }

  .balance {
    font-size: 2rem;
    color: #28a745;
    margin: 0.5rem 0 0;
  }

  .portfolio-actions {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
  }

  .portfolio-actions input {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 100%;
  }

  .portfolio-actions button {
    padding: 10px;
    font-size: 1rem;
    border: none;
    border-radius: 8px;
    background-color: #91c274;
    color: white;
    cursor: pointer;
    transition: background 0.3s ease;
  }

  .portfolio-actions button:hover {
    background-color: #0056b3;
  }

  .portfolio-actions .danger {
    background-color: #dc3545;
  }

  .portfolio-actions .danger:hover {
    background-color: #91c274;
  }


.stocks-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.stocks-table th,
.stocks-table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

.stocks-table th {
  background-color: #91c274;
  color: white;
}
