html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  padding: 15px 0;
  box-shadow: none;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.home-logo {
  text-decoration: none;
  padding-left: 10px;
}

.title {
  font-size: 22px;
  font-weight: bold;
  color: black;
  text-decoration: none;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 10px;
}

.create-link {
  background: none;
  color: black;
  text-decoration: none;
  margin-right: 10px;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 400;
  font-size: large;
}

@media (max-width: 768px) {
  .navbar {
    padding: 10px 15px;
  }
  .title {
    font-size: 18px;
  }
  .home-logo svg {
    width: 30px;
    height: 30px;
  }
}
